body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-image: url(../imgs/fibraDeCarbono.jpg);
    /* @Yerai mira a ver si te gusta el header asi con este estilo*/ /*@Alex Esta perfe ;) */
    color: #fff;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: auto;
    max-width: auto;
    
}

.logo img {
    width: 200px;
    height: auto;
    margin: 10px;
    margin-bottom: 15px;
}

.logo img:hover {
    width: 210px;
    height: auto;
  
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-right: 150px;
}

nav a {
    background-size: 100px;
    border-radius: 25px;
    padding: 5px;
    /* @Yerai con el padding en el header puedes hacer mas grande lo que hemos hablado en clase */  /* @Alex vale gracias */
    background-color: grey;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: aqua; 
    font-size:21px;
}

.telefono {
    margin-right: 100px;
}
footer {
    background-image: url(../imgs/fibraDeCarbono.jpg);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto {
    text-align: left;
}

.ubicacion {
    text-align: right;
}


footer a {
    color: #fff;
    text-decoration: none; /* esto es para que no se subraye lo enlaces*/
    font-size: 15px;
  }
  
  footer a:hover{
    color: aqua;
    font-size: 16px;
  }