body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(188, 219, 247);
  background-size: cover ;
  background-position: center;
}
h1{
  font-size: xxx-large;
  text-align: center;
  text-shadow: 2px 3px rgb(71, 68, 68);
  text-decoration-thickness: 5px;
  text-decoration-line:underline ;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-image: url(../imgs/fibraDeCarbono.jpg);
  /* @Yerai mira a ver si te gusta el header asi con este estilo*/ /*@Alex Esta perfe ;) */
  color: #fff;
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: auto;
  max-width: auto;
  
}

.logo img {
  width: 200px;
  height: auto;
  margin: 10px;
  margin-bottom: 15px;
}

.logo img:hover {
  width: 210px;
  height: auto;

}

nav ul {
  list-style: none;
  display: flex;
  
}

nav ul li {
  margin-right: 150px;
}

nav a {
  background-size: 100px;
  border-radius: 25px;
  padding: 5px;
  /* @Yerai con el padding en el header puedes hacer mas grande lo que hemos hablado en clase */  /* @Alex vale gracias */
  background-color: grey;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover {
  color: aqua; 
  font-size:21px;
}

.telefono {
  margin-right: 100px;
}
footer {
  background-image: url(../imgs/fibraDeCarbono.jpg);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacto {
  text-align: left;
}

.ubicacion {
  text-align: right;
}


footer a {
  color: #fff;
  text-decoration: none; /* esto es para que no se subraye lo enlaces*/
  font-size: 15px;
}

footer a:hover{
  color: aqua;
  font-size: 16px;
}




.tabla {
  background-color: rgba(255, 255, 255, 0.5);
  width: 88%;
  margin: auto auto;
}

th{
  text-align: center;
  font-size: x-large;
  text-align: center;
  background-color: rgba(22, 58, 179, 0.267);
}

table, th, td {
  font-size: 20px;
  text-align: justify;
  border: 3px solid rgb(44, 8, 202);
  padding: 10px;
}

a{
  text-shadow: 2px 1px #2a3772;
  font-size: xx-large;
  text-decoration: none;
  color: black;

}
.nEstacion{
  font-size: large;
  color: black;
  text-align: center;
  overflow: hidde;
  list-style-type: none;
}

.nEstacion :hover{
  color: rgb(4, 0, 255); 
  font-size:21px;
}

.tabla th:nth-child(1) {
  width: 25%;
}

.tabla th:nth-child(2) {
  width: 50%;
}

.tabla th:nth-child(3) {
  width: 25%;
}



#instalaciones.cerler{
  position: absolute;
}
#mapa.cerler{
  position: absolute;
}
#pueblo.cerler{
  position: absolute;
}

.Estaciones_fotos{
  height: auto;
  position: relative;
  display: block;
}
.Estaciones_fotos img{
width: 95%;
height: auto;
display: block;
position: relative;
padding: 7px;
}

#mapa.formigal{
  position: absolute;
}
#igulu.formigal{
  position: absolute;
  
}
#vistas.formigal{
  position: absolute;
}
#instalaciones.astun{
  position: absolute;
}
#mapa.astun{
  position: absolute;
  
}
#vista.astun{
  position: absolute;
}


#montañas.candanchu{
  position: absolute;
}
#mapa.candanchu{
  position: absolute;
}
#pueblo.candanchu{
  position: absolute;
}

#nocturno.baqueria{
  position: absolute;
}
#mapa.baqueria{
  position: absolute;
  
}
#pueblo.baqueria{
  position: absolute;
}

#otoño.larra{
  position: absolute;
}
#mapa.larra{
  position: absolute;
  
}
#refugio.larra{
  position: absolute;
}