body{
  background-image: url(../imgs/FondoPaginas.jpg);
}
.tabla {
  background-color: aliceblue;
  width: 88%;
  margin: auto auto;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: lightgray;
}

.tabla th:nth-child(1) {
  width: 25%;
}

.tabla th:nth-child(2) {
  width: 50%;
}

.tabla th:nth-child(3) {
  width: 25%;
}
