body{
  background-image: url(../imgs/FondoPaginas.jpg);
}
.tabla {
  background-color: rgba(255, 255, 255, 0.315);
  width: 88%;
  margin: auto auto;
}

table, th, td {

  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: rgba(22, 58, 179, 0.267);
}

.tabla th:nth-child(1) {
  width: 25%;
}

.tabla th:nth-child(2) {
  width: 50%;
}

.tabla th:nth-child(3) {
  width: 25%;
}
