body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
    margin: 10px;
    margin-bottom: 15px;
}

.logo img:hover {
    width: 210px;
    height: auto;
  
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-right: 250px;
}

nav a {
    background-size: 100px;
    border-radius: 25px;
    background-color: grey;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: aqua; 
    font-size:21px;
}

.telefono {
    margin-right: 100px;
}
div.reserva{
    width: auto;
    text-align: center;
    padding: 15px;
    border: 3px solid red;
}
img{
    max-width: 100%;
    height: auto;
    margin-right: 80%;
}