body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}
  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 600px;
    max-height: 650px;
}

label {
    display: block;
    margin-bottom: 10px;
}


input,button {
        width: 100%;
        box-sizing: border-box;
        padding: 5px; 
        margin-top: 5px; 
    }

input {
    min-width: 700px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, select, button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
}


select{
    margin: 10px;
}

button {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: aqua;
}



header {
    background-image: url(../imgs/fibraDeCarbono.jpg);
    /* @Yerai mira a ver si te gusta el header asi con este estilo*/ /*@Alex Esta perfe ;) */
    color: #fff;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    max-width: auto;
    
}

.logo img {
    min-height: auto;
    max-width: 200px;
    height: auto;
    margin: 10px;
    margin-bottom: 15px;
}

.logo img:hover {
    min-width: auto;
    max-width: 210px;
    height: auto;
  
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-right: 150px;
}

nav a {
    background-size: 100px;
    border-radius: 25px;
    padding: 5px;
    /* @Yerai con el padding en el header puedes hacer mas grande lo que hemos hablado en clase */  /* @Alex vale gracias */
    background-color: grey;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: aqua; 
    font-size:21px;
}

.telefono {
    margin-right: 100px;
}



footer {
    background-image: url(../imgs/fibraDeCarbono.jpg);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1160px;
    max-width: auto;
}

.contacto {
    text-align: left;
}

.ubicacion {
    text-align: right;
}


footer a {
    color: #fff;
    text-decoration: none; /* esto es para que no se subraye lo enlaces*/
    font-size: 15px;
  }
  
  footer a:hover{
    color: aqua;
    font-size: 16px;
  }



