body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}
  


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: aqua;
}


header {
    background-image: url(../imgs/fibraDeCarbono.jpg);
    /* @Yerai mira a ver si te gusta el header asi con este estilo*/ /*@Alex Esta perfe ;) */
    color: #fff;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: auto;
    max-width: auto;
    
}

.logo img {
    width: 200px;
    height: auto;
    margin: 10px;
    margin-bottom: 15px;
}

.logo img:hover {
    width: 210px;
    height: auto;
  
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-right: 150px;
}

nav a {
    background-size: 100px;
    border-radius: 25px;
    padding: 5px;
    /* @Yerai con el padding en el header puedes hacer mas grande lo que hemos hablado en clase */  /* @Alex vale gracias */
    background-color: grey;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: aqua; 
    font-size:21px;
}

.telefono {
    margin-right: 100px;
}



footer {
    background-image: url(../imgs/fibraDeCarbono.jpg);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto {
    text-align: left;
}

.ubicacion {
    text-align: right;
}


footer a {
    color: #fff;
    text-decoration: none; /* esto es para que no se subraye lo enlaces*/
    font-size: 15px;
  }
  
  footer a:hover{
    color: aqua;
    font-size: 16px;
  }





  @media only screen and (max-width: 600px) {
    header {
        padding: 10px; /* Ajustado el espacio interior */
    }

    .logo img {
        width: 100%; /* Ocupa el 100% del ancho en dispositivos pequeños */
    }

    nav ul {
        flex-direction: row; /* Vuelve a la fila para dispositivos más pequeños */
        justify-content: center; /* Centra los elementos */
    }

    nav ul li {
        margin-right: 15px; /* Añade margen entre elementos */
        margin-bottom: 0; /* Restablece el margen inferior */
    }
}



@media only screen and (max-width: 600px) {
    footer {
        padding: 10px; /* Ajustado el espacio interior */
    }

    .contacto,
    .ubicacion {
        text-align: center; /* Centra el texto en dispositivos pequeños */
    }
}